<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scatter</title>
    <link rel="shortcut icon" type="images/x-icon" href="http://www.jd.com/favicon.ico">
    <style type="text/css">
        #box {
            margin: auto;
            width: 80%;
            height: 600px;
        }
    </style>
</head>
<body>
<div id="box"></div>
</body>
<script type="text/javascript" src="../files/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../files/js/echarts.min.js"></script>
<script type="text/javascript" src="../files/js/axios.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        initFn();
    })

    function initFn() {
        axios.get('http://localhost:8081/all').then(function (response) {
            let data = response.data;
            console.log(data);
            initScatter(data);
        })
    }

    function initScatter(data) {
        let myChart = echarts.init(document.getElementById('box'));
        let option = {
            xAxis: {},
            yAxis: {},
            series: [{
                symbolSize: 20,
                data: [
                    [10.0, 8.04],
                    [8.0, 6.95],
                    [13.0, 7.58],
                    [9.0, 8.81],
                    [11.0, 8.33],
                    [14.0, 9.96],
                    [6.0, 7.24],
                    [4.0, 4.26],
                    [12.0, 10.84],
                    [7.0, 4.82],
                    [5.0, 5.68]
                ],
                type: 'scatter'
            }]
        }
        myChart.setOption(option);
    }
</script>
</html>