<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue_table_data</title>
    <link type="text/css" rel="stylesheet" href="../files/elementui/css/index.css"/>
    <style type="text/css">
        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
    </style>
</head>
<body>
<div id="bookData">
    <el-table :data="bookData" border style="width: 80%;margin-left: 10%;" :summary-method="getSummaries" show-summary>
        <el-table-column prop="id" label="图书编号"></el-table-column>
        <el-table-column prop="bookName" label="图书名称">
            <template slot-scope="scope">
                <el-popover trigger="hover" placement="top">
                    <p>图书名称: {{ scope.row.bookName }}</p>
                    <p>图书价格: {{ scope.row.bookPrice }}</p>
                    <div slot="reference" class="name-wrapper">
                        <el-tag size="medium">{{ scope.row.bookName }}</el-tag>
                    </div>
                </el-popover>
            </template>
        </el-table-column>
        <el-table-column prop="bookPrice" label="图书价格"></el-table-column>
    </el-table>
</div>
</body>
<script type="text/javascript" src="../files/elementui/js/vue.js"></script>
<script type="text/javascript" src="../files/elementui/js/index.js"></script>
<script type="text/javascript" src="../files/elementui/js/axios.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#bookData',
        data: {
            bookData: []
        },
        mounted() {
            this.getTableInfo();
        },
        methods: {
            getTableInfo() {
                let self = this;
                axios.get('/all2').then(function (response) {
                    self.bookData = response.data.bookList;
                    console.log(response);
                }).catch(function (response) {
                    console.log(response);
                })
            },
            getSummaries(param) {
                const {columns, data} = param;
                const sums = [];
                columns.forEach((column, index) => {
                    if (index === 0) {
                        sums[index] = '合计';
                        return;
                    }
                    const values = data.map(item => Number(item[column.property]));
                    if (!values.every(value => isNaN(value))) {
                        sums[index] = values.reduce((prev, curr) => {
                            const value = Number(curr);
                            if (!isNaN(value)) {
                                return prev + curr;
                            } else {
                                return prev;
                            }
                        }, 0);
                        sums[index] += '';
                    } else {
                        sums[index] = '';
                    }
                });
                return sums;
            }
        }
    })
</script>
</html>