<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue_table_data</title>
    <link type="text/css" rel="stylesheet" href="../files/elementui2141/lib/theme-chalk/index.css"/>
</head>
<body>
<div id="bookData">
    <el-button type="primary" @click="exportExcel">导出Excel<i class="el-icon-upload el-icon--right"></i></el-button>
    <el-table id="excel" :data="bookData" border style="width: 80%;margin-left: 10%;" :summary-method="getSummaries"
              show-summary>
        <el-table-column prop="id" label="图书编号"></el-table-column>
        <el-table-column prop="bookName" label="图书名称"></el-table-column>
        <el-table-column prop="bookPrice" label="图书价格"></el-table-column>
    </el-table>
</div>
</body>
<script type="text/javascript" src="../files/js/vue.min.js"></script>
<script type="text/javascript" src="../files/elementui2141/lib/index.js"></script>
<script type="text/javascript" src="../files/elementui2141/lib/axios/axios.min.js"></script>
<script type="text/javascript" src="../files/js/FileSaver.js"></script>
<script type="text/javascript" src="../files/elementui2141/lib/xlsx/xlsx.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#bookData',
        data() {
            return {
                bookData: []
            }
        },
        mounted() {
            this.getTableInfo();
        },
        methods: {
            getTableInfo() {
                let self = this;
                axios.get('/all2').then(function (response) {
                    self.bookData = response.data.bookList;
                    console.log(response);
                }).catch(function (response) {
                    console.log(response);
                })
            },
            getSummaries(param) {
                const {columns, data} = param;
                const sums = [];
                columns.forEach((column, index) => {
                    if (index === 0) {
                        sums[index] = '合计';
                        return;
                    }
                    const values = data.map(item => Number(item[column.property]));
                    if (!values.every(value => isNaN(value))) {
                        sums[index] = values.reduce((prev, curr) => {
                            const value = Number(curr);
                            if (!isNaN(value)) {
                                return prev + curr;
                            } else {
                                return prev;
                            }
                        }, 0);
                        sums[index] += '';
                    } else {
                        sums[index] = '';
                    }
                });
                return sums;
            },
            exportExcel() {
                /* generate workbook object from table */
                var wb = XLSX.utils.table_to_book(document.querySelector('#excel'))
                /* get binary string as output */
                var wbout = XLSX.write(wb, {bookType: 'xlsx', bookSST: true, type: 'array'})
                try {
                    FileSaver.saveAs(new Blob([wbout], {type: 'application/octet-stream'}), 'test.xlsx')
                } catch (e) {
                    if (typeof console !== 'undefined') console.log(e, wbout)
                }
                return wbout
            }
        }
    })
</script>
</html>